* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
}

body {
  color       : #444444;
  font-family : "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height : 1.5em;
}

.main-header {
  background-color : gainsboro;
}

.product-box {
  border   : #444444 2px solid;
  margin   : 40px auto;
  width    : 645px;
  position : relative;
}

.item-image {
  width        : 200px;
  height       : 100%;
  float        : left;
  margin-right : 20px;
}

.mid-part {
  float        : left;
  width        : 200px;
  margin-right : 20px;
}

.detail-part {
  float : left;
  width : 200px;
}

.price {
  padding-top   : 10px;
  color         : darkblue;
  font-weight   : bold;
  font-size     : larger;
  margin-bottom : 0;
  float         : left;
}

.shipping {
  padding-top    : 10px;
  text-transform : uppercase;
  font-weight    : lighter;
  font-size      : smaller;
  color          : darkgrey;
  margin-bottom  : 20px;
  /* margin-top     : 20px; */
  float          : right;
}

.description {
  clear : both;
}

ol, ul {
  margin-left   : 20px;
  margin-bottom : 20px;
}

a {
}

.more-info:link, .more-info:visited {
  color           : #444444;
  text-decoration : none;
  font-weight     : bolder;
  margin-bottom   : 25px;
  display         : inline-block;
}

.more-info:hover, .more-info:active {
  color : dodgerblue;
}

.detail-title {
  text-transform : uppercase;
  padding-top    : 10px;
}

.detail-list {
  list-style : square;
}

.add-cart {
  background-color : black;
  color            : white;
  border           : none;
  text-transform   : uppercase;
  cursor           : pointer;
  width            : 100%;
  padding          : 20px;
}

.add-cart:hover {
  color            : black;
  background-color : white;
  border-top       : 2px solid black;
}

h2, h3 {
  color : dodgerblue;
}

h2 {
  font-size  : 26px;
  text-align : center;
  padding    : 20px;
}

h3 {
  font-size     : 21px;
  margin-bottom : 20px;
}

p {
  margin-bottom : 20px;
}

.on-sale {
  position         : absolute;
  left             : -45px;
  top              : -10px;
  padding          : 5px 20px;
  background-color : orangered;
  color            : white;
  letter-spacing   : 4px;
}

.color-box {
}

.color {
  width            : 20px;
  height           : 20px;
  display          : inline-block;
  margin-right     : 10px;
  background-color : #444444;
}

.color-red {
  background-color : orangered;
}
