* {
  margin  : 0;
  padding : 0;
}

body {
  color       : #444444;
  font-family : "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height : 1.5em;
}

.main-header {
  background-color : gainsboro;
}

.product-box {
  border : #444444 2px solid;
  margin : 40px auto;
  width  : 500px;
}

.item-image {
  width  : 33%;
  height : 100%;
}

.price {
  color       : darkblue;
  font-weight : bold;
  font-size   : larger;
}

.shipping {
  text-transform : uppercase;
  font-weight    : lighter;
  font-size      : smaller;
  color          : darkgrey;
  margin-bottom  : 20px;
}

ol, ul {
  margin-left   : 20px;
  margin-bottom : 20px;
}

a {
}

.more-info:link, .more-info:visited {
  color           : #444444;
  text-decoration : none;
  font-weight     : bolder;
  margin-bottom   : 25px;
}

.more-info:hover, .more-info:active {
  color : dodgerblue;
}

.detail-title {
  text-transform : uppercase;
  margin-top     : 30px;
}

.detail-list {
  list-style : square;
}

.add-cart {
  background-color : black;
  color            : white;
  border           : none;
  text-transform   : uppercase;
  cursor           : pointer;
  width            : 100%;
  padding          : 20px;
}

.add-cart:hover {
  color            : black;
  background-color : white;
  border-top       : 2px solid black;
}

h2, h3 {
  color : dodgerblue;
}

h2 {
  font-size  : 26px;
  text-align : center;
  padding    : 20px;
}

h3 {
  font-size     : 21px;
  margin-bottom : 20px;
}

p {
  margin-bottom : 20px;
}
